<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{member.knownAs}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
