<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will
                be lost.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{member.knownAs}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success col-12">Save
                    changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <h4 class="mt-2">Location Details: </h4>
            <div class="d-flex flex-column">
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" [(ngModel)]="member.city" name="city" class="form-control">
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" [(ngModel)]="member.country" name="country" class="form-control">
                </div>
            </div>
        </form>
        <form (ngSubmit)="createEntry(member.userName)">
            <div class="form-group">
                <label style="margin-top: 15px;">Title:</label>
                <input type="text" [(ngModel)]="newEntryTitle" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea [(ngModel)]="newEntryDescription" name="description" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Create Entry</button>
        </form>
        <div class="col-8 mt-8" style="margin-top: 40px;">
            <h4>User Entries:</h4>
            <div *ngFor="let entry of userEntries" class="entry-box">
                <div class="entry">
                    <div>
                        <strong>Title:</strong>
                        <p>{{ entry.title }}</p>
                    </div>
                    <div>
                        <strong>Description:</strong>
                        <p>{{ entry.description }}</p>
                    </div>
                    <!-- Edit button -->
                    <button (click)="editEntry(entry)" class="btn btn-primary" style="margin-right: 10px;">Edit</button>
                    <!-- Delete button -->
                    <button (click)="deleteEntry(entry.id)" class="btn btn-danger">Delete</button>
                    <!-- Edit form -->
                    <div *ngIf="entry.id === editedEntry.id">
                        <h4>Edit Entry</h4>
                        <form (submit)="updateEntry(entry)">
                            <div class="form-group">
                                <label>Title:</label>
                                <input type="text" [(ngModel)]="editedEntry.title" name="title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Description:</label>
                                <textarea [(ngModel)]="editedEntry.description" name="description" class="form-control" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
